@use "vuetify/styles" with (
  $body-font-family: "Kanit"
);

@font-face {
  font-family: 'Kanit';
  src: url('../assets/fonts/Kanit-Medium.ttf');
  font-weight: 'normal';
  font-style: 'normal';
}

.outlined {
  border: thin solid #c5c5c5 !important
}

.text-vertical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.text-rotate {
  transform: rotate(180deg);
}

.text-only-rotate {
  inline-size: fit-content;
  transform: rotate(-90deg);
}

.text-spacing-1 {
  letter-spacing: 0.075em !important;
}

.text-spacing-2 {
  letter-spacing: 0.1em !important;
}

.text-indent-1 {
  text-indent: 1.5em;
}

.text-indent-2 {
  text-indent: 3m;
}

.position-absolute.top, .position-fixed.top {
  top: 0;
}

.position-absolute.bottom, .position-fixed.bottom {
  bottom: 0;
}

.position-absolute.left, .position-fixed.left {
  left: 0;
}

.bring-to-top {
  z-index: 9999;
}

.rounded-smooth {
  border-radius: 20px;
}

.v-toolbar.v-toolbar--blur {
  background-color: rgba(253, 253, 253, 0.8) !important;
  backdrop-filter: blur(6px);
}